@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Cincinnati Job Outlook Portal!</h1>
    <p class="lead">
        The goal of this application is to show the differences between the job markets of
        Cincinnati and that of the national average.  Along with a general overview of the
        state of the Cincinnati region compared to the national average, each category can
        be selected and viewed for more detailed analysis.  Hopefully this will help users
        determine whether or not Cincinnati is a good fit for their career choices.
    </p>
</div>